# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg

# Database
*.db
*.sqlite3
pgdata/

# Uploads
uploads/selfies/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
.coverage
htmlcov/
.pytest_cache/

# Alembic
alembic/versions/*.pyc

# OS
.DS_Store
Thumbs.db
